<html>
  <head>
    <title>Curriculum Resources</title>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
<!--    <script type="text/javascript" src="js/reviews.js"></script>
-->
    <script type="text/javascript" src="js/resources.js"></script>
    <script type="text/javascript" src="js/resource-form.js"></script>
    <script type="text/javascript" src="js/router.js"></script>
  </head>
  <body>
    <header>
      <h1>Curriculum Resources</h1>
    </header>
    <nav>
      <ul>
	<li><a href='{{ logout_url }}'>Log Out</a></li>
	<li><a href='#resource/form'>New Resource</a></li>
      </ul>
    </nav>
    <main>
      <div id="resources">
      </div>
    </main>
    <footer>
    </footer>
    <div id="templates">
      <script type="text/template" id="resource-tmp">
	<article class="resource" id="resource:<%= key %>">
	  <h3><%= title %></h3>
	  <% if (is_admin) {%>
	  <a href="#resource/form/<%= key %>">Edit</a> 
	  <a href="#resource/delete/<%= key %>">Delete</a>
	  <%} %>
	  
	  <table>
	    <tr>
	      <th>submitted</th>
	      <td>
		<date class="ts_created"><%= new Date(ts_created).toDateString() %></date>
	      </td>
	    </tr>
	    <tr>
	      <th>modified</th>
	      <td>
		<date class="ts_modified"><%= new Date(ts_modified).toDateString() %></date>
	      </td>
	    </tr>
	  </table>
	  <p><%= description %></p>
	  <ul class="urls">
	    <% _.each( urls, function(url){ print("<li><a href='"+url+"'>"+url+"</a></li>"); }); %>
	  </ul>
	  <div class="tags">
	    <% _.each( tags, function(tag){ print(tag);}) %>
	  </div>
	</article>
      </script>
      <script type="template/text" id="resource-form">
	<form>
	  <span><%= is_admin %></span>
	  <input type="text"/>
	</form>
      </script>
    </div>
  </body>
</html>
