<html>
  <head>
	<title>Search</title>
    <style type="text/css">
	#results {
		outline:dotted 1px blue;
	}
	#resultViewer {
		outline:dotted 1px red;
		position: absolute;
		top:0;
		left:0;
		background-color:white;
	}
	
	#viewer {
		width: 960px;
		height: 100%;
	}
	.title{
		display:block;
	}

	.hidden{
		display:none;
	}
	
	</style>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
	<script type="text/javascript">
$(function(){
	var Result = Backbone.Model.extend({});
	var Results = Backbone.Collection.extend({
		model: Result,
		renderAll: function(){
			console.log(this);
			_.each(this.models, function(result){
				view = new ResultView({model: result});
				view.render();
			});
		}
	});
	document.results = new Results();

	ResultView = Backbone.View.extend({
		template: _.template($('#result-tmp').html()),
		render: function(){
			console.log(this.$el);
			this.$el.append(this.template(this.model.attributes));
			this.el = $(this).prop("tagName");
		},
		events: { "click a" : function(e){
			e.preventDefault(); 
			console.log("asdf"+this.model.attributes.link);
		}}
	/*	events: { "click .resource-link" : "clickedLink" },
		clickedLink: function(e){
			console.log("here");
			e.preventDefault();
			var href = $(e.target).attr("href");
			$("#viewer").attr("src", href).removeClass("hidden");
			*			var clicked = localStorage.getItem('clicked');
			console.log(clicked);
			if (clicked === undefined || clicked === null ) {
				clicked = {};
				clicked[query] = [ href ];
				console.log("no");
			} 
			else
			{
				console.log("yes");
				clicked = JSON.parse(clicked);
				clicked[query].push(href);
			}
			localStorage.setItem('clicked', JSON.stringify(clicked));

			return false;
*/			
	});

	document.ResultList = Backbone.View.extend({
		el: "#results",
		initialize: function(){

		},
		render: function(){
			_.each(document.results.models, function(result){
				var resultView = new ResultView({model: result, el: this.el});
				resultView.render();
				resultView.delegateEvents();
			}, this);
		},
		events: {
/*			"click a": function(e){
				e.preventDefault();
				console.log("click a:" + this.);
*/			}
		
	});
	var baseSearchUrl = "https://www.googleapis.com/customsearch/v1?key=AIzaSyB3dshepyKKZ5JvlPcKOhcEM_d0lBlkdb8&cx=017503385175410437525:ulwnmkxn5vs&q=";
//	var baseSearchUrl = "http://ajax.googleapis.com/ajax/services/search/web?v=1.0&key=key=AIzaSyB3dshepyKKZ5JvlPcKOhcEM_d0lBlkdb8&q="
	$("#search").change(function(){
		var query = $(this)[0].value.split(" ");
		var queryList = query;
		console.log(query);
		searchUrl = baseSearchUrl+queryList.join("+");
		console.log(searchUrl);
		$.ajax({
			url : searchUrl,
			method: "GET",
			success: function(results, status, xhr){
				console.dir(results);
				_.each(results.items, function(item){
						   item.query = query;
				})
				document.results.add(results.items);
				var resultList = new document.ResultList();
				console.log(resultList.el);
				resultList.render();
			}
		});
	});
	var results = [];
	for (var i = 0; i < 10; i++) {
		results.push({ cacheId: "id"+i,
					title: "Resource Title",
					link: "http://www.google.com/"+i,
					htmlFormattedUrl: "http://www.<b>google</b>.com/"+i,
					snippet: "Snippet text" })
	}
	_.each(results, function(item){
		item.query = "query text";
	});
	document.results.add(results);
	var resultList = new document.ResultList();
	resultList.render();

	$("#closeResultViewer").click(function(){
									  console.log("closed");
									  $("#resultViewer").addClass("hidden");
									  return false;
								  });
	$("#popOut").click(function(){
		var href = $(this).attr('href');
		popped = localStorage.getItem('popped');
		if (popped === undefined || popped == null ) {
			popped = [ href ];
		}
		else
		{
			popped = JSON.parse(popped);
			popped.push( href );
		}
		localStorage.setItem('popped', popped);
	});
});
</script>

</head>
<body>
<h1>Search</h1>
<input type="text" id="search"/>
<br/>
<div id="results"></div>
<div id="resultViewer" class="hidden">
<a id="closeResultViewer" href="#">Close</a> | <a id="popOut" target="_blank">Popout</a><br/><br/>
<iframe id="viewer"></iframe>
</div>
<div id="templates">
  <script type="text/template" id="result-tmp">
	<article class="result" id="<%= cacheId %>">
	  <span class="title" ><%= title %></span>
	  <span class="link"><a class="resource-link" href="<%= link %>"><%= htmlFormattedUrl %></a></span>
	  <span class="snippet"><%= snippet %></span>
	</article>
  </script>
</div>
</body>
</html>
